:root {
  /* --accent-color: #4ecdc4; */
  --accent-color: #ffa86a;
  --default-font: var(--font-fira-code);
}

body {
  font-family: var(--default-font);
}

code {
  font-family: var(--font-fira-code) !important;
}

/* blog nested list */
.content li > ul,
.content li > ol {
  padding-inline-start: 1rem;
}
