:root {
  /* --accent-color: #4ecdc4; */
  --accent-color: #ffa86a;
  --default-font: "Fira Code", monospace;
}

body {
  font-family: var(--default-font);
}

code {
  font-family: "Fira Code", monospace !important;
}

/* blog nested list */
.content li > ul,
.content li > ol {
  padding-inline-start: 1rem;
}
